# Função Definidas pelo Usuário


## Objetivo: Simplificar operações recorrentes para poderem ser chamadas apenas passsando o nome da função e o argumento 


## Sintaxe:
def nome_da_função(arqgumento_da_função)
#### ou
lambda x:


## Obs: É importante prever se é necessario definir um valor padrão para os argumentos

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\pedro\OneDrive\Área de Trabalho\Python para dataScience e Analytics\tested.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
texto = 'Pedro Henrique'

In [5]:
texto[0]+texto[-1] + '  - Final'

'Pe  - Final'

In [6]:
funcaoErica = lambda nome: nome[0]+nome[-1]+'  - Final'

In [7]:
funcaoErica('kecia')

'ka  - Final'

In [13]:
def Nome(texto = 'Python'):
        """Retorna a primeira e a Última Letra do texto Passado + a string - final""" 
        return texto[0]+texto[-1] + '  - Final'

In [14]:
Nome()

'Pn  - Final'